@charset "UTF-8";

body {
    background-color: rgba(195, 141, 245, 0.84);
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
}

footer {
    color: white;
    font-style: italic;
    text-align: center;
}